body {
	margin: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;

	background-color: #B1B8BA;
	font-family: 'Noto Sans', sans-serif;
}

#header {
	width: 100%;
	display: flex;
  	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	z-index: 1;
}
#header-text {
	width: 75%;
	text-align: center;
	color: white;
	font-size: 3em;
}

#gameboard {
	width: 40vw;
	height: 40vw;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	background-color: white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.cell-row {
	width: 100%;
	height: calc(100% / 3);

	display: flex;
}

.cell-container {
	width: calc(100% / 3);
	height: 100%;


	display: flex;
	justify-content: center;
	align-items: center;
}

.cell {
	width: 100%;
	height: 100%;
	background-color: white;

	display: flex;
	justify-content: center;
	align-items: center;
}

.grey-cell {
	background-color: rgb(230,230,230);
}

.occupied-cell {
	/* used to stop player from interacting with taken cells */
	/* just for logic */
}

.player-color {
	background-color: #2BE9F1;
}

.computer-color {
	background-color: #F1332B;
}

.tie-color {
	background-color: rgb(40,40,40);
}

.cell-hover:hover {
	background-color: black;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	z-index: 1;
}

.cell-label {
	font-size: 6em;
}

#restart-button {
	width: 25%;
	background-color: black;
	color: white;
	border: 0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	font-size: 2em;
	font-family: 'Noto Sans', sans-serif;
}

#restart-button:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}